.management__frame__timeline {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  outline: 1px solid var(--main-gray);
}

.management__frame__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.95;
  background-color: var(--main-bg);
}

.management__frame__selectBlock {
  position: absolute;
  max-width: 6rem;
  width: 20%;
  height: 100%;
  padding: 0 0.5rem;
  background-color: var(--main-normal67);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: var(--zIndex-managementSelectionBlock);
}

.management__frame__selectBlock__item {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.management__frame__timeline__board {
  --left: 6rem;
  padding-left: var(--left);
  padding-top: 1rem;
  width: calc(100% - var(--left));
  margin: 0 2rem;
  box-sizing: border-box;
}

.management__frame {
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 280px;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .management__frame {
    width: 100%;
  }
  .management__frame__selectBlock {
    width: calc(100% - var(--scrollbar-width) * 2);
    max-width: calc(100% - var(--scrollbar-width) * 2);
    height: 3rem;
  }

  .management__frame__selectBlock {
    flex-direction: row;
  }
  .management__frame__selectBlock__item {
    margin-right: 1rem;
  }
  .management__frame__selectBlock__item label {
    margin-right: 10px;
  }
  .management__frame__timeline__board {
    --left: 0px;
    width: 100%;
    padding: 4rem 2rem 0 2rem;
    box-sizing: border-box;
  }
}
