.reservation__content__selectStep {
  width: 62.5%;
  display: flex;
  flex-direction: row;
}

/* calendarBlock */
.reservation__content__selectStep__calendarBlock {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-sizing: border-box;
  background-color: var(--main-normal);
  border-radius: var(--border-radius-15);
  border: 1px solid var(--main-dark);
}
.calendarBlock__day {
  height: 2.5rem;
  margin: 0 auto 1rem auto;
  border-radius: var(--border-radius-15);
  border: 1px solid var(--main-dark);
  padding: 0 1rem;
}
/* resultBlock */
.reservation__content__selectStep__resultBlock {
  display: flex;
  flex-direction: column;
  width: 380px;
}

.resultBlock__buttonGroup {
  flex-grow: 1;
  width: 80%;
  margin: 0 auto 1rem 0;
}

@media screen and (max-width: 1000px) {
  .reservation__content__selectStep {
    width: 95%;
    flex-direction: column;
  }
  .calendarBlock__reservationBoard {
    width: 100%;
  }
  .common__buttonGroup {
    justify-content: center;
  }
  .reservation__content__selectStep__calendarBlock {
    margin: 0 1rem;
  }
  .reservation__content__selectStep__resultBlock {
    width: auto;
    margin: 1rem 1rem 0 1rem;
    flex-direction: column;
    align-items: center;
  }

  .resultBlock__buttonGroup {
    width: auto;
  }

  .calendarBlock__day {
    margin: 1rem auto;
  }
}
