.reservation__content__selectStep {
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* calendarBlock */
.reservation__content__selectStep__calendarBlock {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 1rem 2rem 0 2rem;
  box-sizing: border-box;
  background-color: var(--main-normal);
  border-radius: var(--border-radius-15);
}
.calendarBlock__day {
  height: 2.5rem;
  margin: 0 auto 1rem auto;
  border-radius: var(--border-radius-15);
  border: 1px solid var(--main-dark);
  padding: 0 1rem;

}
/* resultBlock */
.reservation__content__selectStep__resultBlock {
  display: flex;
  flex-direction: column;
  width: 380px;
  margin-top: 1rem;
}



.resultBlock__buttonGroup {
  flex-grow: 1;
  width: 80%;
  margin: 0 auto 1rem 0;
}




@media screen and (max-width: 1000px) {
  .reservation__content__selectStep {
    flex-direction: column;
  }
  .calendarBlock__reservationBoard {
    width: 100%;
  }
  .common__buttonGroup {
    justify-content: center;
  }
  .reservation__content__selectStep__calendarBlock {
    margin: 0 1rem;
  }
  .reservation__content__selectStep__resultBlock {
    width: 100%;
    margin: 0 0 2rem 0;
    flex-direction: column;
    align-items: center;
  }


  .resultBlock__buttonGroup{
    width: auto;
  }

  .calendarBlock__day {
    height: 60px;
    margin: 2rem auto;
  }
}
