.thankyou {
  background-color: var(--main-bg);
}
.thankyou__content {
  background-color: var(--main-light);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thankyou__content__title {
  margin: 2rem auto;
}
.thankyou__content__texts {
  width: 90%;
  margin: 0 2rem;
  box-sizing: border-box;
}

.thankyou__content__texts__text {
  margin: 0 auto var(--text-font-size);
  line-height: 1.3;
}

.thankyou__content__logo__img {
  height: var(--logo-height);
  width: var(--logo-width);
  border-radius: 50%;
  object-fit: cover;
  position: relative;
}

.thankyou__content__logo__img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: url("../../img/home.png");
}

.thankyou__content__orderId {
  width: 100%;
  word-break: break-all;
}
.thankyou__content__orderId__text {
  color: var(--light-red);
  margin: 0.5rem auto;
}

@media screen and (max-width: 600px) {
  .thankyou__content__orderId,
  .thankyou__content__texts {
    width: 90%;
  }
}
