.board {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
}

.board__reservationBoardItem {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.board__reservationBoardItem__room {
  width: 10rem;
  margin: 0 1rem;
}
.board__reservationBoardItem__reservedBoard {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .board__reservationBoardItem {
    flex-direction: column;
  }
  .board__reservationBoardItem__room {
    margin: 0 auto 2rem;
  }
}
