.form__item {
  margin: 0px auto 1rem auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
.form__item > label {
  width: 30%;
  padding: 0.6rem 0.6rem;
}
.form__item > input {
  width: 70%;
  padding: 0.6rem 0.6rem;
}
