.hamburgerIcon {
  position: fixed;
  z-index: var(--zIndex-managementIcon);
  width: 30px;
  height: 30px;
  right: 20px;
  top: 10px;
  cursor: pointer;
  background-color: var(--main-bg);
  border: 1px solid var(--main-normal);

  transition: top 2s;
}
/* normal hamburger */
.hamburgerIcon__hamburger--normal {
  width: 14px;
  height: 1px;
  content: "";
  position: absolute;
  top: 50%;
  right: calc(25% + 1px);
  display: block;
  background-color: var(--main-light);
}

.hamburgerIcon__hamburger--normal::before {
  width: 14px;
  height: 1px;
  content: "";
  position: relative;
  top: 4.6px;
  display: block;
  background-color: var(--main-light);
}

.hamburgerIcon__hamburger--normal::after {
  width: 14px;
  height: 1px;
  content: "";
  position: relative;
  top: -5.6px;
  display: block;
  background-color: var(--main-light);
  transition: top 0.1s;
}

.hamburgerIcon:hover .hamburgerIcon__hamburger--normal::before {
  top: 6.6px;
  transition: top 0.1s;
}
.hamburgerIcon:hover .hamburgerIcon__hamburger--normal::after {
  top: -7.6px;
  transition: top 0.1s;
}
/* open hamburger */
.hamburgerIcon__hamburger--open {
  width: 14px;
  height: 1px;
  content: "";
  position: absolute;
  top: 50%;
  right: calc(25% + 1px);
  display: block;
  background-color: var(--main-light);
}

.hamburgerIcon__hamburger--open::before {
  width: 14px;
  height: 1px;
  content: "";
  position: relative;
  top: 6.6px;
  display: block;
  background-color: var(--main-light);
}

.hamburgerIcon__hamburger--open::after {
  width: 14px;
  height: 1px;
  content: "";
  position: relative;
  top: -7.6px;
  display: block;
  background-color: var(--main-light);
}
.hamburgerIcon:hover .hamburgerIcon__hamburger--open::before {
  top: 0px;
  transition: top 0.5s;
}
.hamburgerIcon:hover .hamburgerIcon__hamburger--open::after {
  top: 0px;
  transition: top 0.5s;
}
@media screen and (max-width: 600px) {
  .hamburgerIcon {
    right: 20px;
    top: 10px;
    border: 1px solid var(--main-light);
  }
}
