:root {
  /* color */
  --dark: #77613b;
  --main-dark: #bba278;
  --main-normal: #d9c6a4;
  --main-light: #e9decc;
  --main-bg: #f6f2ec;
  --white: #ffffff;
  --light-gray: #f1f1f1;
  --main-gray: #cecece;
  --heavy-gray: #b8b8b8;
  --slate-grey: slategrey;
  --black: #000000;
  --light-red: #ff8484;
  --main-red: #fa3c3c;
  --yellow-green: yellowgreen;
  --light-green: #02bd1b;
  --sea-green: seagreen;

  /* font-size */
  --title-font-size: 2rem;
  --subtitle-font-size: 1.6rem;
  --heading-font-size: 1.4rem;
  --text-font-size: 1.2rem;
  --line-height-multiple: 1.4;

  /* other */
  --border-radius: 5px;
  --border-radius-15: 15px;
  --div-margin: 0px auto 2rem auto;
  --logo-height: 120px;
  --logo-width: 120px;
  --scrollbar-width: 15px;
  --menu-item-height:30px;

  /* RWD size*/
  --mobile-width: 360px;
  --tablet-width: 360px;

  /* z-index */
  --zIndex-managementCalendar: 1;  
  --zIndex-managementWindow: 2;  
  --zIndex-managementSelectionBlock: 3;
  --zIndex-managementIcon: 5;
  --zIndex-footer: 5;
  --zIndex-dialog: 7;
  --zIndex-dialogBox: 9;
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

.common__title {
  font-size: var(--title-font-size);
}
.common__subtitle {
  font-size: var(--subtitle-font-size);
  line-height: var(--subtitle-font-size);
}

.common__heading {
  font-size: var(--heading-font-size);
}
.common__text {
  font-size: var(--text-font-size);
}
.common__font--bold {
  font-weight: bold;
}

.common__block {
  /*區塊+文字置中*/
  text-align: center;
  margin: var(--div-margin);
}
.common__block--bilateral {
  margin: 2rem 0;
}

.common__interval--normal {
  margin-bottom: 2rem;
}
.common__interval--shrink {
  margin-bottom: 1rem;
}

.common__titleBlock {
  margin: 2rem auto;
  width: 90%;
}

.common__pageFrame {
  width: 100%;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.common__buttonGroup {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-end;
}
/* event */
.common__hidden {
  display: none;
}

.common__disablePointerEvent {
  pointer-events: none;
}

/* button submit style*/
.common__submit {
  background-color: var(--main-normal);
  min-width: 5rem;
  padding: 0.8rem 1.5rem;
  border: 1px solid var(--main-normal);
  border-radius: var(--border-radius);
  color: var(--black);
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-size: var(--heading-font-size);
}

.common__submit:hover {
  background-color: var(--main-light);
  border: 1px solid var(--main-normal);
  transition: all 0.2s ease;
}

@media screen and (max-width: 600px) {
  .common__buttonGroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
