/* body {
}
#root {
} */

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  height: 120px;
  background-color: var(--white);
}
main {
  width: 100%;
  display: flex;
  flex: 1;
  align-items: stretch;
}
