.board {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 30rem;
  text-align: center;
  margin-top: 1rem;
}
.board__room {
  display: flex;
  flex-direction: row;
}

.board__timeline {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-y: auto;
  background-color: var(--main-bg);
  padding-top: 1rem;
  border-radius: 0 0 var(--border-radius-15) var(--border-radius-15);
}

.board__reservationBoardItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 0 2rem;
}

.board__reservationBoardItem__room {
}
.board__reservationBoardItem__room__title {
  margin-bottom: 1rem;
}

.board__reservationBoardItem__reservedBoard {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .board__reservationBoardItem {
    flex-direction: column;
    margin: 0 1rem;
  }
  .board__reservationBoardItem__room {
    margin: 0 auto 2rem;
  }
  .board__reservationBoardItem__room__machine {
    word-break: break-all;
  }
}
