.calendar {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  position: relative;
  z-index: var(--zIndex-managementCalendar);
}
.calendar__month {
  display: flex;
  margin: 0 1rem 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
}
.calendar__dates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-right: 1px solid var(--main-gray);
  border-bottom: 1px solid var(--main-gray);
}
.calendar__dates__item {
  box-sizing: border-box;
  padding: 5px;
  flex: auto;
  width: 14%;
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--main-gray);
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.calendar__dates__days {
  height: auto;
}
.calendar__dates__date {
  height: 6rem;
}

.calendar__dates__today {
  line-height: var(--subtitle-font-size);
  border-radius: 50%;
  width: var(--subtitle-font-size);
  height: var(--subtitle-font-size);
  background-color: var(--black);
  color: var(--main-gray);
  text-align: center;
}

.calendar__dates__prevMonth {
  color: var(--main-gray);
}
.calendar__dates__nextMonth {
  color: var(--main-gray);
}

.calendar__dates__date__number {
  flex: none;
  width: var(--subtitle-font-size);
  height: var(--subtitle-font-size);
  line-height: var(--subtitle-font-size);
}
.calendar__dates__date__entries {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
.calendar__dates__date__entries__col {
  display: flex;
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  white-space: nowrap;
}
.calendar__dates__date__entries__col--applied {
  background-color: var(--main-normal);
}
.calendar__dates__date__entries__col--reserved {
  background-color: var(--light-green);
}
.calendar__dates__date__entries__col--canceled {
  background-color: var(--heavy-gray);
}
.calendar__dates__date__entries__col--conflicted {
  background-color: var(--main-red);
}

.dialog__dialogMask {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: var(--black);
  opacity: 0.15;
  z-index: var(--zIndex-dialog);
}

.dialog__dialogContent {
  --dialog-width: 85%;
  --dialog-height: 85%;
  background-color: var(--white);
  position: fixed;
  width: var(--dialog-width);
  height: var(--dialog-height);
  left: calc((100% - var(--dialog-height)) / 2);
  top: calc((100% - var(--dialog-height)) / 2);
  z-index: var(--zIndex-dialogBox);
}
.dialog__icon {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 20px;
  top: 20px;
  cursor: pointer;
  border: 1px solid var(--main-normal);
}

.dialog__icon img {
  position: absolute;
  top: 7px;
  left: 7px;
  content: url("../../img/icon_close.png");
}

.calendar__dialog__table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  overflow: auto;
}
.calendar__dialog__table__item {
  display: flex;
  margin: 0.5rem;
  width: 30%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calendar__dialog__table__item__label {
  min-height: 2rem;
  word-wrap: break-word;
}

.calendar__dialog__table__item__value {
  min-height: 2rem;
  word-break: break-all;
}
.board__buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.board__buttons__button {
  box-sizing: border-box;
  padding: 0.3rem 0.1rem;
  margin: 0.2rem 0px;

  background-color: var(--main-light);
  font-size: initial;
  color: var(--heavy-gray);
}

.board__buttons__button--selected {
  background-color: var(--main-normal);
  color: var(--black);
}

.board__buttons__button--selected:hover {
  background-color: var(--main-normal);
}
.board__buttons__button--primary {
  font-size: var(--text-font-size);
}
.board__buttons__button--disabled {
  cursor: auto;
}

.dialog__confirmButton {
  width: 50%;
  padding: 0.3rem 0.1rem;
  margin: 0.4rem 0px 0px auto;
  min-width: auto;
  background-color: var(--main-bg);
  font-size: initial;
}
.dialog__confirmButton--disabled {
  background-color: var(--main-bg);
  color: var(--main-gray);
  cursor: auto;
}

.dialog__confirmButton--disabled:hover {
  background-color: var(--main-bg);
}

@media screen and (max-width: 1000px) {
  .calendar__dialog__table__item {
    width: 80%;
    padding: 1.5rem;
    border-bottom: 1px solid var(--main-light);
  }
}

@media screen and (max-width: 600px) {
  .dialog__icon {
    right: 30px;
  }
  .calendar__dialog__table {
    overflow: auto;
  }
  .board__buttons {
    width: 80%;
  }
  .board__buttons__button {
    padding: 1rem 0.1rem;
    margin: 0.5rem 0px;
  }
  .dialog__confirmButton {
    padding: 1rem 0.1rem;
  }
}
