.calendar__month {
  display: flex;
  margin: 0 1rem 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;
}
.calendar__dates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-right: 1px solid var(--dark);
  border-bottom: 1px solid var(--dark);
}
.calendar__dates__item {
  box-sizing: border-box;
  padding: 5px;
  flex: auto;
  width: 14%;
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dark);
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.calendar__dates__days {
  height: auto;
}
.calendar__dates__date {
  height: 6rem;
}

.calendar__dates__today {
  line-height: var(--subtitle-font-size);
  border-radius: 50%;
  width: var(--subtitle-font-size);
  height: var(--subtitle-font-size);
  background-color: var(--dark);
  color: var(--white);
  text-align: center;
}

.calendar__dates__prevMonth {
  color: var(--main-gray);
}
.calendar__dates__nextMonth {
  color: var(--main-gray);
}

.calendar__dates__date__number {
  flex: none;
  width: var(--subtitle-font-size);
  height: var(--subtitle-font-size);
  line-height: var(--subtitle-font-size);
}
.calendar__dates__date__entries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.calendar__dates__date__entries__col {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  margin: 5px;
  padding-left: 3px;
  cursor: pointer;
  white-space: nowrap;
  overflow-x: hidden;
  border-radius: var(--border-radius);
}

.calendar__dates__date__entries__col--applied {
  background-color: var(--main-normal);
}
.calendar__dates__date__entries__col--reserved {
  background-color: var(--light-green);
}
.calendar__dates__date__entries__col--canceled {
  background-color: var(--heavy-gray);
}
.calendar__dates__date__entries__col--conflicted {
  background-color: var(--main-red);
}

@media screen and (max-width: 600px) {
}
