.board__reservationBoardItem__timeLine {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.timeLineCube {
  display: flex;
  width: 100%;
  height: 2.5rem;
  background-color: var(--white);
  cursor: pointer;
  box-sizing: border-box;
  outline: 0.5px solid var(--main-dark);
  margin-bottom: 1px;
}
.timeLineCube:hover {
  background-color: var(--light-gray);
}

.timeLineCube--selected {
  background-color: var(--yellow-green);
}

.timeLineCube--selected-hovered {
  background-color: var(--main-normal);
}
.timeLineCube--selected-hovered:hover {
  background-color: var(--main-dark);
}

.timeLineCube--reserved {
  background-color: var(--slate-grey);
  pointer-events: none;
}

.board__reservationBoardItem__timeLine__cube {
  width: 100%;
}

.board__reservationBoardItem__reservedUser {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.reservedUserCube {
  display: flex;
  height: 2.5rem;
  width: 100%;
  background-color: var(--white);
  box-sizing: border-box;
  margin-left: -1px;
}

.board__reservationBoardItem__timeLine__cube:first-child .timeLineCube__top {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.board__reservationBoardItem__timeLine__cube:last-child .timeLineCube__bottom {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
