.stepper {
  min-height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.stepper__content {
  display: flex;
  justify-content: center;
  width: 90%;
}
.stepper__content__step {
  display: flex;
  align-items: center;
  clip-path: polygon(90% 0%, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
  min-height: 40px;
  padding: 0px 1.5rem 0px 2rem;
}

.stepper__content__step--primary {
  background-color: var(--main-normal);
}

.stepper__content__step--selected {
  background-color: var(--main-dark);
}
