.home__banner {
  height: 350px;
  width: 100%;
  background-image: url("https://fakeimg.pl/875x350/");
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  margin: var(--div-margin);
}

.home__content {
  width: 100%;
  background-color: var(--main-light37);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.home__welcome {
  width: 85%;
  margin: var(--div-margin);
}
.home__welcome__title {
  margin: var(--div-margin);
}
.home__welcome ul {
  line-height: calc(var(--text-font-size) * var(--line-height-multiple));
}

.home__content__instruction {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: var(--div-margin);
}

.home__content__instruction ul {
  padding: 2rem 2rem 0px 2rem;
  line-height: calc(var(--text-font-size) * var(--line-height-multiple));
}

.home__content__instruction li {
  list-style-type: disc;
  padding-bottom: 2rem;
}

.home__content__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
}
/* ---- */

.featureButtonGroup {
  position: fixed;
  z-index: var(--zIndex-managementIcon);
  padding: 1rem 1rem 0 1rem;
  width: 150px;
  min-height: 50px;
  right: 20px;
  top: 55px;
  background-color: var(--main-light37);
  border: 1px solid var(--main-normal);
}
.featureButtonGroup .common__block {
  margin-bottom: 1rem;
}

.featureButtonGroup Button {
  padding: 0.2rem 0;
  min-width: 8rem;
}
