.home__banner {
  height: 350px;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/7319337/pexels-photo-7319337.jpeg");
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  margin: 1rem 0 2rem 0;
}

.home__content {
  width: 100%;
  background-color: var(--main-light);
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.home__welcome {
  width: 85%;
  margin: var(--div-margin);
}
.home__welcome__title {
  margin: var(--div-margin);
}
.home__welcome ul {
  line-height: calc(var(--text-font-size) * var(--line-height-multiple));
}

.home__content__instruction {
  width: 90%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: var(--div-margin);
}

.home__content__instruction ul {
  padding: 2rem 2rem 0px 2rem;
  line-height: calc(var(--text-font-size) * var(--line-height-multiple));
}

.home__content__instruction li {
  list-style-type: disc;
  padding-bottom: 2rem;
}

.home__content__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  padding-bottom: 1rem;
}
/* -------- */

.orderResultWindow {
  position: fixed;
  z-index: var(--zIndex-dialog);
  padding: 1rem;
  width: 90%;
  min-height: 200px;
  right: 20px;
  top: 18%;
  background-color: var(--main-light);
  border: 1px solid var(--main-normal);
  box-sizing: border-box;
}
.orderResultWindow__table {
  display: flex;
  flex-direction: column;
}

.orderResultWindow__table__item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px dashed var(--main-normal);
  padding: 0.8rem 0;
}
.orderResultWindow__table__item__label {
  display: flex;
  width: 8rem;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
}
.orderResultWindow__table__item__value {
  display: flex;
  flex-grow: 1;
  word-break: break-all;
}

/* -------- */
