.home__banner {
  height: 350px;
  width: 100%;
  background-image: url("https://images.pexels.com/photos/7319337/pexels-photo-7319337.jpeg");
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
}

.home__content {
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.home__welcome {
  width: 62.5%;
  margin: 2rem auto;
}
.home__welcome__title {
  margin: var(--div-margin);
}
.home__welcome ul {
  line-height: calc(var(--text-font-size) * var(--line-height-multiple));
}

.home__content__instruction {
  width: 62.5%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 2rem auto;
}



.home__content__instruction__ruleTitle,.home__content__instruction__title{
  margin-bottom: 1rem;
}

.home__content__instruction__ruleText--ul {
  padding: 0rem 2rem;
  line-height: calc(var(--text-font-size) * var(--line-height-multiple));
}

.home__content__instruction__ruleText--li{
  list-style-type: disc;
  padding-bottom: 1rem;
}

.home__content__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  flex-direction: column;
  margin-bottom: 1rem;
}
