.btn {
  background-color: var(--main-normal);
  color: var(--dark);
  min-width: 10rem;
  padding: 0.8rem 3rem;
  border: 1px solid var(--main-normal);
  border-radius: var(--border-radius);
  cursor: pointer;
  text-align: center;
  white-space: normal;
  font-size: var(--heading-font-size);
}

.btn:hover {
  background-color: var(--dark);
  color: var(--main-light);
  border: 1px solid var(--dark);
  transition: all 0.2s ease;
}

@media screen and (max-width: 360px) {
  .btn {
    min-width: auto;
    padding: 0.8rem 1rem;
  }
}
